*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* MOBILE */

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column-reverse;
    max-width: 10%;
}

img {
    max-width: fit-content;
}


/* DESKTOP */

@media (min-width: 30rem) {
    body {
        background-color: blue;
        display: grid;
        place-content: center;
    }

    main {
        display: flex;
        flex-direction: row;
        background-color: white;
        gap: 2rem;
        max-width: fit-content;
        border-radius: 2.2rem;
        padding: 1.55rem;
        padding-inline: 1.64rem;
    }

    img {
        min-height: 100%;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: .75rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

}